.objective,
.education,
.work-experience {
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 13px;
}

.objective h1,
.education h1,
.work-experience h1 {
    font-size: 21px;
    font-weight: 520;
    margin:0 0 5px 0;
    font-family: "Didot";
}

.objective > section,
.education > section,
.work-experience > section {
    display: grid;
    gap: 0px;
    margin-bottom: 10px;
}

.objective .period,
.education .period,
.work-experience .period {
    white-space: nowrap;
    font-weight: 500;
}

.objective section article h2,
.education section article h2,
.work-experience article h2{
    font-size: 14px;
    margin: 0;
}

.objective article p,
.education article p,
.work-experience article p{
    color: black;
    margin: 0;
}

.education article .description{
    color: #5d5d5d;
    margin: 0;
}