.curriculum-page {
    display: flex;
    font-family: "Segoe UI";
    height: 29.7cm;
    width: 21cm;
}

.grid-columns-2 {
    grid-template-columns: 17% 83%;
}

.left-side {
    width: 33%;
    padding-top: 30px;
    background-color: #303d4f;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 80px;
}

.right-side {
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 5px 0 10px;
}