.curriculum-page {
    display: flex;
    font-family: "Segoe UI";
    height: 29.7cm;
    width: 21cm;
}

.regular-text {
    font-size: 15px;
    font-weight: 100;
}


.grid-columns-2 {
    grid-template-columns: 17% 83%;
}

.left-side {
    width: 33%;
    padding-top: 30px;
    background-color: #303d4f;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 80px;
}

.professional-skills {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    gap: 70px
}